@font-face {
    font-family: "Poppins-SemiBold";
    src: url(/static/files/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-Italic";
    src: url(/static/files/Poppins-ExtraLightItalic.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(/static/files/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Italic";
    src: url(/static/files/Poppins-Italic.ttf);
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.borel-regular {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins-SemiBold', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #111132;
}

/* Main body */

#element {
    color: rgb(255, 131, 86);
}

.first {
    display: flex;
    justify-content: space-around;
    /* background-color: black; */
    margin: 0px 20px;
    padding-top: 60px;
    font-family: 'Poppins-SemiBold', sans-serif;
    /* background-color: black; */
}

.first div {
    color: aliceblue;
    font-size: 3rem;
    font-family: 'Poppins-SemiBold', sans-serif;
}

#colored {
    color: rgb(255, 131, 86);
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 3rem;
}

.left-section {
    width: 40%;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    /* background-color: dimgray; */
}

.right-section {
    width: 40%;
    /* background-color: #fff; */

}

.right-section img {
    width: 60%;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30px;
}


#profilepic {
    /* transform: translate(-50%, -50%); */
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
    background-size: cover;
    transition: all .4s;
}

#profilepic:hover {
    transform: scale(1.02);
}


ul {
    list-style-type: disc;
    margin-left: 20px;
}

#text {
    font-size: 2rem;
    color: rgb(122, 52, 235);
    max-width: 50%;
    margin: 0 30%;
}

/* Navigation bar styles */

.left {
    padding: 0 120px;
    font-size: 1.4rem;
}

header {
    position: sticky;
    top: 0%;
    z-index: 1;
}

#navbar {
    /* background-color: #0e0b21; */
    background-color: #111132;
    padding-right: 20px;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

#navbar ul {
    color: #fff;
    display: flex;
    justify-content: center;

}

#navbar ul li {
    color: #fff;
    list-style: none;
    margin: 0 23px;

}

#navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;

}

#navbar ul li a:hover {
    color: rgb(174, 154, 255);

}

.left a {
    font-family: "Poppins-SemiBold", sans-serif;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

.left a:hover {
    color: rgb(156, 139, 252);
}

.second {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 50px;
    padding: 50px;
    background-color: rgb(239, 239, 255);
    transition: transform 0.3s;
    margin-bottom: 30px;
}

.second:hover {
    /* box-shadow: 0 0 10px 1px rgb(184, 190, 222); */
    transform: translateY(-2%) scale(1.01);
}

.details {
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    /* background-color: blue; */
}

#socialmedia {
    /* padding-top: 30px; */
    width: 50%;
    align-items: center;
    margin: 0 100px;
    display: flex;
    padding-bottom: 50px;
}

.media {
    cursor: pointer;
    font-size: 1.3rem;
    align-items: center;
    color: black;
    margin: 10px 10px;
    text-decoration: none;
    transition: all 0.4s;
    border: none;
    background-color: rgb(239, 239, 255);
}

.media:hover {
    color: rgb(115, 93, 255);
    text-shadow: 0 0 50px rgb(153, 127, 255);
}

.icon {
    width: 6rem;
    max-width: 4%;
    margin: 10px 0;
    margin-left: 30px;
}

.downloadicon {
    width: 2.3%;
    padding-top: 4px;
    margin-right: 10px;
}

.title {
    font-family: 'Poppins-Italic', sans-serif;
    font-size: 1.5rem;
    margin: 10px 130px;
    margin-top: 30px;
    color: black;
}


.mail {
    width: 50%;
    align-items: center;
    margin: 0px 100px;
    /* margin-top: 60px; */
    display: flex;
}

.mailicon {
    width: 6rem;
    max-width: 4%;
    margin: 10px 0;
    margin-left: 30px;
}

#callicon {
    width: 6rem;
    max-width: 4.7%;
    margin: 10px 0;
    margin-left: 2.6rem;
}

#mailtext {
    cursor: text;
    font-size: 1.3rem;
    align-items: center;
    color: black;
    margin: 10px 10px;
    text-decoration: none;
    transition: all 0.4s;
    background-color: rgb(239, 239, 255);
    border: none;
}


#calltext {
    cursor: text;
    font-size: 1.3rem;
    color: black;
    margin: 10px 10px;
    text-decoration: none;
    border: none;
    width: 100%;
}

.formbutton {
    cursor: pointer;
    font-size: 1.3rem;
    align-items: center;
    color: black;
    margin: 10px 10px;
    text-decoration: none;
    transition: all 0.4s;
    border: none;
    background-color: rgb(239, 239, 255);
}


.copyright {
    color: #e0e0e0;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#bg {
    width: 30%;
    max-width: 40%;
}

/* Scrollbar styling*/

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    background-color: #111132;
}

::-webkit-scrollbar-thumb {
    background-color: #111132;
}

::-webkit-scrollbar-track :hover ::-webkit-scrollbar-thumb {
    background-color: rgb(49, 53, 73);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(49, 53, 73);
}


#download {
    background-color: aliceblue;
    align-items: center;
    border: none;
    padding: 1rem 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: all 0.6s;
}

#download:hover {
    background-color: rgb(115, 93, 255);
    box-shadow: 0 0 10px 1px rgb(164, 150, 255);
    color: #fff;
}

#cv {
    margin-top: 60px;
}

.git {
    cursor: pointer;
    font-size: 1.2rem;
    align-items: center;
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
    background-color: #111132;
    border: none;
}

.git:hover {
    color: rgb(130, 89, 255);
    /* text-shadow: 0 0 30px rgb(122, 99, 254) */
}

.space {
    padding-top: 90px;
}

#home {
    padding-top: 40px;
}



.about {
    display: flex;
    margin: 0 50px;
    padding: 20px 30px;
    color: #fff;
    font-size: 1.3rem;
    background-color: rgba(41, 45, 94, 0.735);
    border-radius: 6px;
    justify-content: center;
    z-index: 1;
}

.img-about {
    width: 30%;
    padding: 10px;
    padding-top: 20px;
    margin-right: 30px;
    align-items: center;
    /* background-color: #fff; */
}

.aboutimg {
    padding: 0 10px;
    width: 100%;
    padding-top: 4rem;
    align-items: center;
}

.about p {
    font-family: 'Poppins-Regular';
    text-align: justify;
    color: #fff;
    width: 60%;
    margin: 30px 60px;
    padding: 0 10px;
    line-height: 1.5;
}

.about p span {
    font-family: 'Italic';
    color: #fff;
    width: 60%;
    margin: 30px;
    line-height: 1.5;
}

.skill {
    display: flex;
    margin: 0 50px;
    padding: 0 30px;
    color: #fff;
    font-size: 1.3rem;
    background-color: rgba(41, 45, 94, 0.735);
    border-radius: 6px;
    justify-content: center;
    z-index: 1;
}

.lists {
    border-radius: 5px;
    margin: 30px 50px;
    text-align: justify;
    justify-content: center;
}

.lists h1,
h2 {
    text-align: center;
    font-size: 1.7rem;
    font-family: "Pacifico", sans-serif;

}

.listtext {
    text-indent: 0;
    padding-left: 0;
    margin-left: 0;
    padding: 0 5rem;
}


.listtext li {
    list-style: none;
    text-align: center;
    margin: 1.5rem;
    margin-top: 2rem;
    font-family: 'Poppins-Regular', sans-serif;
}

.listtext1 {
    text-indent: 0;
    padding-left: 0;
    margin-left: 0;
    padding: 0 5rem;
}

.listtext1 li {
    list-style: none;
    text-align: center;
    margin: 2rem 1.5rem;
    margin-bottom: 3rem;
    font-family: 'Poppins-Regular', sans-serif;
}

.skillimg {
    width: 33%;
    height: 40%;
    max-width: 35%;
    margin: 50px;
    margin-top: 100px;
}


.projects {
    margin: 0 50px;
    padding: 0 30px;
    color: #fff;
    font-size: 1.3rem;
    background-color: rgba(41, 45, 94, 0.735);
    border-radius: 6px;
    z-index: 1;
    display:flex;
}


.project {
    width: 86%;
    /* justify-content: space-evenly; */
    margin: 30px 30px;
    border-radius: 5px;
    padding: 20px;
}

.project h3 {
    text-align: center;
}

.project p {
    font-family: "Poppins-Regular";
    text-align: justify;
    font-size: 1.3rem;
}